<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    	<span>
    	 New email from
    	</span>
    	<br/>
    	<span>
    		<%= @name %> (<%= @email %>)
    	</span>
    </p>

    <p>
    	<br/>
    	<span>
    		<%= @comment %>
    	</span>
    </p>
  </body>
</html>
