<div class="title">
    <h2><%= t(:privacy_site_title, :scope => [:politwoops, :privacy]) %></h2>
    <p><%= t(:privacy_site_content, :scope => [:politwoops, :privacy]) %></p>
   
    
</div>

<% content_for :body_class do %> class="about" <% end %>


<!-- This file lives in public/404.html -->
<div class="crackBox">
        <a class="cowButton" href="/">
        	<h1 id="bubble" class="twoopsAlternateLogo textReplace"> <%= t(:site_name, :scope => [:politwoops]) %></h1>
        </a>
</div>
